*{
    background: rgba(163, 163, 163, 0.623);
}

.tituloPrincipal{
    background-color: darkblue;
    color: yellow;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 90px;
}

.vinculo{
    display: flex;
    justify-content: center;
}

p, strong, em{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
    background-color: bisque;
    color: tomato;
}

.tituloSecundario{
    background-color: red;
    color: yellow;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#cuadroCesarMagnicidio{
    width: 100%;
}